body{
    padding: 100px;
}
.submit-eria{
    margin-top: 50px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}
#transanction-aria{
    display: none;
}
.stutas{
    margin: 0 20px;
    color: white;
    padding: 20px;
    border-radius: 10px;
}
.deposit{

background-color: slateblue ;
}

.withdrow{
    background-color: lightsalmon ;
}
.balance{
    background-color: orange ;
}